@model UniCabinet.Core.Models.ViewModel.Department.DepartmentAddEditVM

<div class="modal fade" id="editDepartmentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <h5 class="modal-title">Редактировать кафедру</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <!-- Тело модального окна -->
            <div class="modal-body">
                <form asp-action="EditDepartment" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="mb-3">
                        <label asp-for="DepartmentName"></label>
                        <input asp-for="DepartmentName" class="form-control" required />
                        <span asp-validation-for="DepartmentName" class="text-danger"></span>
                    </div>
                    <!-- Подвал модального окна -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
