@{
    ViewData["Title"] = "Панель Администратора";
}

<h1>Панель Администратора</h1>

<!-- Ваша логика и кнопки панели управления -->
<p>
    Добро пожаловать в панель администратора!
</p>

<a href="@Url.Action("VerifiedUsers", "Admin")" class="btn btn-primary">Список верифицированных пользователей</a>
<a asp-area="" asp-controller="Department" asp-action="DepartmentsAdminList" class="btn btn-primary">Список кафедр университета</a>
<a class="btn btn-primary" asp-area="" asp-controller="Specialization" asp-action="GetDataSpecialization">Список специальностей</a>

<a class="btn btn-primary" asp-area="" asp-controller="Specialization" asp-action="GetDataSpecTeacher">Список спекциальностей и дисциплин текущего преподавателя</a>

