@model UniCabinet.Core.Models.ViewModel.Practical.PracticalEditVM

<div class="modal fade" id="practicalEditModal" tabindex="-1" aria-labelledby="practicalEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="EditPractical" asp-controller="Practical" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="DisciplineDetailId" />
                <div class="modal-header">
                    <h5 class="modal-title" id="practicalEditModalLabel">Редактировать практическую работу</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="PracticalName" class="form-label"></label>
                        <input asp-for="PracticalName" class="form-control" placeholder="Введите номер практической работы" />
                        <span asp-validation-for="PracticalName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Date" class="form-label"></label>
                        <input asp-for="Date" class="form-control" type="date" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
